body {
    background-color: rgb(243, 243, 243);
}

.page {
    margin-left: 4%;
    margin-right: 2%;
}

.conteneur {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

}

.affichageGraphe {
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
    width: 70%;
}

#network1,
#network2 {
    width: 50%;
    height: 100%;
}

.boutonTableau {
    float: right;
}

.panel {
    border-radius: 5px;
    background-color: #FFF;
}

.panel-primary {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    background-color: #FFF;
}

.page-header {
    padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid transparent;
    text-align: left;
}


.panel-left {
    width: 100px;
    height: 100px;
    background: #32D088;
    border: 2px solid white;
    border-radius: 100%;
    overflow: hidden;
    margin: 12px;
}

.panel-vis-graph {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: #FFF;
    overflow: hidden;
}

.conteneur-graphe {
    background-color: #FFF;
}

.legende-graphe {
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 16px;
}

.panel-left .fa-5x {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.69);
    padding: 29px 0;
    margin-bottom: 30px;
}

.panel-right {
    height: 124px;
    background: transparent;
    margin-bottom: 0;
    color: #2B2E33;
    background-color: #fff;
    float: left;
    text-align: left;
    padding-left: 20px;
}

.panel-right h3 {
    font-size: 40px;
    padding: 18px 10px 13px 0;
    color: #8A8A8A;
}

.panel-back {
    background-color: #fff;

}

.panel-default {
    border-color: #ECECEC;
}

.panel-default>.panel-heading {
    color: #000;
    border-color: #FFF;
    font-weight: bold;
    background: #FFFFFF;
    font-size: 16px;
    padding: 15px 15px 0;
}

.panel-heading {
    /* padding: 15px 15px 0px; */
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}



table {
    padding: 0, 0, 0, 0;
    border: 1px black solid;
    background-color: #FFF;
}

@media(max-width:480px) {
    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }

    .panel-left {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}